{% extends '1_base.html' %}
{% block title %} home {% endblock %}

<!--- full body part --->
{% block body %}

<!--- home section --->
{% include "7_home_section.html" %}

<!--- recent works section --->
{% include "8_recent_works_section.html" %}

<!--- service secction-->
{% include "9_service_section.html" %}

<!--- tesimonial section --->
{% include "10_tesimonial_section.html" %}

<!--- packages section --->
{% include "11_packages_section.html" %}

<!--- about section --->
{% include "12_about.html" %}

<!--- FAQ --->
{% include "13_faq.html" %}

<!--- contact form section --->
{% include "14_contact_form.html" %}

<!--- footer section --->
{% include "15_footer.html" %}


{% endblock %}