<section class="container-fluid package_page front_end_package pb-lg-5" id="packages">
    <div class="underline">
        <div>
            <h2 id="package">Packages</h2>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center my-3 ">

            <!---- frontend order ---->
            {% include "17_frontend_orders.html" %}

            <!---- backend orders ---->
            {% include "18_backend_orders.html" %}

            <!---- complete website ---->
            {% include "19_complete_website.html" %}
           

            <!----alert start---->
            <div class="row justify-content-center mt-5" style="font-size: 15px;">
                <div class="alert alert-dismissible fade show col-10 pt_sans_narrow_font" role="alert">
                    <strong>Note: </strong>Before placing an order You've to log in to your account else the feature
                    won't
                    work even please read all descriptions carefully & contact me as well as show your PSD file. It may
                    save
                    time & money for both of us.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <!--alert end-->

        </div>

    </div>

    </div>

</section>