<section class="container about_page" id="about11">
    <div class="underline">
        <div>
            <h2 style="font-family:Agency FB" class="about_page">About</h2>
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-lg-5 col-12 container">
            <img src="static/1_images/3_about.jpg" style="width:60%" class="rounded d-block m-auto">
        </div>
        <div class="col-lg-7 col-12">
            <p class="about_description pt-3">
            <h4 class="text-center">
                Hello this is <i><small style="color:#E21E51">MOSSADDAK</i></small>
            </h4>


            <p class="text-center">
                <i>I'm studying Computer Science at Daffodil International University. </i> Love to make something
                creative, something different, and as well as playing with IDE. I'm looking at others to find a new way
                of solution and believe hard work is a luck changer.<b>I've done already 19+ frontend projects and two
                    full websites with an e-commerce site.</b>
            </p>
            </p>
        </div>
    </div>

</section>