{% load static %}
<footer class="text-center text-lg-start text-muted mt-5">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!--social media-->
      <div">
        <div class="wrapper">
          <div class="button">
            <a href="#">
              <div class="icon">
                <i class="fab fa-facebook-f"></i>
              </div>
              <span>Facebook</span>
            </a>
          </div>
          <div class="button">
            <a href="#">
              <div class="icon">
                <i class="fab fa-twitter"></i>
              </div>
              <span>Twitter</span>
            </a>
          </div>
          <div class="button">
            <a href="#">
              <div class="icon">
                <i class="fab fa-instagram"></i>
              </div>
              <span>Instagram</span>
            </a>
          </div>
          <div class="button ">
            <a href="#">
              <div class="icon">
                <i class="fab fa-github"></i>
              </div>
              <span>Github</span>
            </a>
          </div>
          <div class="button ">
            <a href="#">
              <div class="icon">
                <i class="fab fa-youtube"></i>
              </div>
              <span>YouTube</span>
            </a>
          </div>
        </div>
        </div>

    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section>
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-4 col-12 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4 ">
              <i class="fas fa-gem "></i> Mossaddak Sium
            </h6>

            <p>
              <img style="width: 40vh;" src="{% static '1_images/6_footer.gif' %}">
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Products</h6>
            <p><a href="#!" class="text-reset pt_sans_narrow_font" >UX/Frontend</a></p>
            <p><a href="#!" class="text-reset pt_sans_narrow_font" >Complete Website</a></p>
            <p><a href="#!" class="text-reset pt_sans_narrow_font" >Android App</a></p>
            <p><a href="#!" class="text-reset pt_sans_narrow_font" >Customization Supports</a></p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 importance_contaier">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">importance</h6>
            <p class="importance_link"><a href="#" class="text-reset pt_sans_narrow_font" >Terms & Condition</a></p>
            <p class="importance_link"><a href="#!" class="text-reset pt_sans_narrow_font" >How to Order</a></p>
            <p class="importance_link"><a href="#!" class="text-reset pt_sans_narrow_font" >Help</a></p>
          </div>
          <!-- Grid column -->



          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p class="pt_sans_narrow_font" ><i class="fas fa-home me-3 "></i> Cumilla,Bangladesh</p>
            <p class="pt_sans_narrow_font" ><i class="fas fa-envelope me-3 "></i> 10000mossaddak@gmail.com</p>
            <p class="pt_sans_narrow_font" ><i class="fas fa-phone me-3 "></i> +881878674909</p>
            <p class="pt_sans_narrow_font" ><i class="fas fa-print me-3 "></i> + ** *** *** **</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © <span class="time"></span> Copyright:

      <a href="#" style="color:red" class="text-reset fw-bold">Mossaddak</a>
      <a class="text-reset fw-bold" href="#">mossaddak.me</a>
    </div>
    <!-- Copyright -->
  </footer>