<div class="col-10 col-md-7 col-lg-3 card pb-5 mr-lg-3 border_none">
    <h1 class="card-title text-center mt-5">
        Package <label style="color:red" class="card-title">#01</label>
    </h1>
    <label class="">
        <div class="text-center league_spartan_font">
            This is for basic <label style="color:red">Frontend</label><br>
            Start from-
            <div class="price text-center first_card_price">$10</div>
        </div>

        <!--- rating section starts --->
        <div class="height-100 container d-flex justify-content-center align-items-center">
            <div class=" p-3">
                <div class="d-flex justify-content-between align-items-center rating_container league_spartan_font">
                    <div class="small-ratings">
                        {% if average_rating < 1 %}
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>

                        {% elif average_rating < 2 %}
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>

                        {% elif average_rating < 3 %}
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star "></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>

                        {% elif average_rating < 4 %}
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>

                        {% elif average_rating < 5 %}
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>

                        
                        {% else %}
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        {% endif %}
                        <a href="#" data-toggle="modal" data-target="#RatingFrontendMODAL" data-placement="top" title="A user can rate for a time">({{ number_of_frontend_rating }})</a>
                    </div>
                </div>
            </div>
        </div>


        <!--rating Modal starts -->
        {% include "29_frontend_rating.html" %}
        
        <!--- rating modal ends -->




        <!--- rating section endss --->
        <manu>

            <li class="ml-5 ">
                Html5,CSS3,Bootstrap5 <img src="static/1_images/2_tick_icon1.png" alt="tick sign"
                    style="width:8%">
            </li>

            <li class="ml-5 ">
                Responsive Design <img src="static/1_images/2_tick_icon1.png" alt="tick sign"
                    style="width:8%">
            </li>
            <li class="ml-5 ">
                css3 Animation <img src="static/1_images/2_tick_icon1.png" alt="tick sign" style="width:8%">
            </li>
            <li class="ml-5 ">
                Compatibility <img src="static/1_images/2_tick_icon1.png" alt="tick sign" style="width:8%">
            </li>
            <li class="ml-5 ">
                JS Effect <img src="static/1_images/2_tick_icon1.png" alt="tick sign" style="width:8%">
            </li>
            <li class="ml-5 ">
                Backend <img src="static/1_images/5_Cross-Icon.png" alt="cross sign" style="width:8%">
            </li>
        </manu>
    </label>

    <!--/frontend_orders/-->
    <form action="frontend_orders/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!------ 1 number numfield-->
        <div class="number_button text-center">
            number of <label style="color:red">sections-</label>
            <input type="number" min="1" class="text-center numField11" onclick="numFIeld1()"
                placeholder="01" name="numField11" required>
        </div>


        <!--radio btn starts-->
        <p class="">
            <li class="package_checkbox ml-5 mt-1">

                <!--radio btn 1-->
                <input type="radio" name="frontend" class="radio_btn_1" onclick="radioBtn1()"
                    value="Portfolio" checked> Portfolio
            </li>

            <li class="package_checkbox ml-5">

                <!--radio btn 2-->
                <input type="radio" name="frontend" class="radio_btn_2" onclick="radioBtn2()"
                    name="radio_btn_2" value="e-Commerce"> e-Commerce Functionality
            </li>

            <li class="package_checkbox ml-5 mt-1">

                <!--radio btn 3-->
                <input type="radio" class="radio_btn_3" name="frontend" onclick="radioBtn3()"
                    name="radio_btn_2" value="Social Media"> Social Media Functionality
            </li>

            <li class="package_checkbox ml-5 mt-1">

                <!-- upload fie -->
                <label style="color: red;">Upload DEMO file:</label>
                <input type="file" name="frontend_file" required>
            </li>

        </p>
        <!--checkbox end-->

        <!--get started button-->
        <button type="submit" class="get_start_button pr-5 pl-5 d-block m-auto btn">GET STARTED</button>
    </form>
</div>

