<section class="recent_work_page container" id="demo">

    <div class="underline">
        <div><h2 id="about" class="about_page" style="font-family:Agency FB">Recent Works</h2></div>
    </div>
    <!---slider--->


    <!------------------find home starts-------------------->
    <div class="container-fluid pt-5">
        <!----------rows--------->
        <div class="row">

            <div id="carouselExampleIndicators2" class="carousel slide col-lg-6 col-12 1_recent_works pt-3 pb-3" data-ride="carousel" data-interval="1000">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active bg-warning" ></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="1" class="bg-warning"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="2" class="bg-warning"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="3" class="bg-warning"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="4" class="bg-warning"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="5" class="bg-warning"></li>
                
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="static/1_images/1_recent_works/1_find_home/1_home.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="static/1_images/1_recent_works/1_find_home/2_services.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="static/1_images/1_recent_works/1_find_home/3_project.png" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="static/1_images/1_recent_works/1_find_home/4_buy_property.png" alt="fourth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="static/1_images/1_recent_works/1_find_home/5_about.png" alt="fifth slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="static/1_images/1_recent_works/1_find_home/6_footer1.png" alt="sixth slide">
                </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <span class="client_arrow_previous client_arrow mr-5 text-warning" aria-hidden="true"><</span>
                <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                <span class="client_arrow client_arrow_next ml-5 text-warning" aria-hidden="true">></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
            <!----------find home ends---------->


            <!-----------------------E-commerce start------------------------->
                <div id="carouselExampleIndicators3" class="carousel slide col-lg-6 col-12 1_recent_works pt-3 pb-3 mt-2 mt-lg-0" data-ride="carousel" data-interval="1000">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active bg-warning" ></li>
                    <li data-target="#carouselExampleIndicators3" data-slide-to="1" class="bg-warning"></li>
                    <li data-target="#carouselExampleIndicators3" data-slide-to="2" class="bg-warning"></li>
                    
                    
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="static/1_images/1_recent_works/2_ecommerce/1_home.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="static/1_images/1_recent_works/2_ecommerce/2_second.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="static/1_images/1_recent_works/2_ecommerce/3_third.png" alt="Third slide">
                    </div>
                    
                    </div>
    
                    <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                    <span class="client_arrow_previous client_arrow mr-5 text-warning" aria-hidden="true"><</span>
                    <span class="sr-only">Previous</span>
                    </a>
    
                    <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                    <span class="client_arrow client_arrow_next ml-5 text-warning" aria-hidden="true">></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-------E-commerce ends------->
        </div>


    <!--------------------landing pages start------------------->
        <div class="row">
            <div id="carouselExampleIndicators4" class="carousel slide col-12 1_recent_works pt-3 pb-3 mt-2" data-ride="carousel" data-interval="1000">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators4" data-slide-to="0" class="active bg-warning" ></li>
                <li data-target="#carouselExampleIndicators4" data-slide-to="1" class="bg-warning"></li>
                <li data-target="#carouselExampleIndicators4" data-slide-to="2" class="bg-warning"></li>
                
                
                </ol>
                <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="static/1_images/1_recent_works/1_gaming.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="static/1_images/1_recent_works/2_ramadan.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="static/1_images/1_recent_works/3_convic.png" alt="Third slide">
                </div>
                
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators4" role="button" data-slide="prev">
                <span class="client_arrow_previous client_arrow mr-5 text-warning" aria-hidden="true"><</span>
                <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#carouselExampleIndicators4" role="button" data-slide="next">
                <span class="client_arrow client_arrow_next ml-5 text-warning" aria-hidden="true">></span>
                <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!---------------landing pages end---------------->

    <!----slider end---->
    </div>
</section>