<section class="container services_page justify-content-center text-center" id="service">

    <div class="underline">
        <div>
            <h2>Services</h2>
        </div>
    </div>

    <div class="row my-3 justify-content-center">
        <div class="col-10 col-lg-3">
            <div class="card">
                <h3 class="card-title text-center p-4 mt-2" style="color:#E21E51">
                    Frontend(ux) & Complete Website
                </h3>
                <p class="card-text pl-4 pr-4">
                    Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. U
                    t exercitationem dolore quasi autem
                    esse aperiam perspiciatis sit, saepe sed
                    , consequuntur ratione. Fuga voluptates,
                </p>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe"
                    class=" fa-globe fa-w-16 service_icon ml-auto" role="img" viewBox="0 0 496 512">
                    <path fill="white" d="M336.5 160C322 70.7 287.8 8 248 8s-74 62.7-88.5 152h177zM152 256c0 22.2 1.2 43.5 
                    3.3 64h185.3c2.1-20.5 3.3-41.8 3.3-64s-1.2-43.5-3.3-64H155.3c-2.1 20.5-3.3 41.8-3.3 
                    64zm324.7-96c-28.6-67.9-86.5-120.4-158-141.6 24.4 33.8 41.2 84.7 50 141.6h108zM177.2 
                    18.4C105.8 39.6 47.8 92.1 19.3 160h108c8.7-56.9 25.5-107.8 49.9-141.6zM487.4 
                    192H372.7c2.1 21 3.3 42.5 3.3 64s-1.2 43-3.3 64h114.6c5.5-20.5 8.6-41.8 
                    8.6-64s-3.1-43.5-8.5-64zM120 256c0-21.5 1.2-43 3.3-64H8.6C3.2 212.5 0 233.8 0 256s3.2 
                    43.5 8.6 64h114.6c-2-21-3.2-42.5-3.2-64zm39.5 96c14.5 89.3 48.7 152 88.5 152s74-62.7 
                    88.5-152h-177zm159.3 141.6c71.4-21.2 129.4-73.7 158-141.6h-108c-8.8 56.9-25.6 107.8-50 
                    141.6zM19.3 352c28.6 67.9 86.5 120.4 158 141.6-24.4-33.8-41.2-84.7-50-141.6h-108z"></path>
                </svg>
            </div>


        </div>

        <div class="col-lg-3 col-10 my-2 my-lg-0 my-md-2">
            <div class="card">
                <h3 class="card-title text-center p-4 mt-2" style="color:#E21E51">
                    e-Commerce Solution
                </h3>
                <p class="card-text pl-4 pr-4">
                    Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. U
                    t exercitationem dolore quasi autem
                    esse aperiam perspiciatis sit, saepe sed
                    , consequuntur ratione. Fuga voluptates,
                </p>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tools"
                    class="svg-inline--fa fa-tools fa-w-16 service_icon ml-auto" role="img" viewBox="0 0 512 512">
                    <path fill="white" d="M501.1 395.7L384 278.6c-23.1-23.1-57.6-27.6-85.4-13.9L192 
                    158.1V96L64 0 0 64l96 128h62.1l106.6 106.6c-13.6 27.8-9.2 62.3 
                    13.9 85.4l117.1 117.1c14.6 14.6 38.2 14.6 52.7 0l52.7-52.7c14.5-14.6 
                    14.5-38.2 0-52.7zM331.7 225c28.3 0 54.9 11 74.9 31l19.4 
                    19.4c15.8-6.9 30.8-16.5 43.8-29.5 37.1-37.1 49.7-89.3 
                    37.9-136.7-2.2-9-13.5-12.1-20.1-5.5l-74.4 74.4-67.9-11.3L334 
                    98.9l74.4-74.4c6.6-6.6 3.4-17.9-5.7-20.2-47.4-11.7-99.6.9-136.6 
                    37.9-28.5 28.5-41.9 66.1-41.2 103.6l82.1 82.1c8.1-1.9 16.5-2.9 
                    24.7-2.9zm-103.9 82l-56.7-56.7L18.7 402.8c-25 25-25 65.5 0 90.5s65.5 
                    25 90.5 0l123.6-123.6c-7.6-19.9-9.9-41.6-5-62.7zM64 472c-13.2 
                    0-24-10.8-24-24 0-13.3 10.7-24 24-24s24 10.7 24 24c0 13.2-10.7 24-24 
                    24z"></path>
                </svg>
            </div>
        </div>

        <div class="col-lg-3 col-10 my-2 my-lg-0 my-md-0">
            <div class="card">
                <h3 class="card-title text-center p-4 mt-2" style="color:#E21E51">
                    Page Speed Optimization
                </h3>
                <p class="card-text pl-4 pr-4">
                    Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. U
                    t exercitationem dolore quasi autem
                    esse aperiam perspiciatis sit, saepe sed
                    , consequuntur ratione. Fuga voluptates,
                </p>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pager"
                    class="svg-inline--fa fa-pager fa-w-16 service_icon ml-auto" role="img" viewBox="0 0 512 512">
                    <path fill="white" d="M448 64H64a64 64 0 0 0-64 
                     64v256a64 64 0 0 0 64 64h384a64 64 0 0 0 64-64V128a64 64 0 0 0-64-64zM160 368H80a16 
                     16 0 0 1-16-16v-16a16 16 0 0 1 16-16h80zm128-16a16 16 0 0 1-16 
                     16h-80v-48h80a16 16 0 0 1 16 16zm160-128a32 32 0 0 1-32 32H96a32 32 
                     0 0 1-32-32v-64a32 32 0 0 1 32-32h320a32 32 0 0 1 32 32z"></path>
                </svg>
            </div>
        </div>
    </div>
</section>